header {
  padding: 17px;
  text-align: center;
  font-family: 'Lobster', cursive;
 background-color:#f1c232ff;
}
.blog {
  color:white;
  padding-left: 20px;
}
p {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}
.skills {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}
.job-title {
   font-family: 'Lobster', cursive; 
   font-size: 25px;
}
h1 {
  right: 20px;
  position: relative;
}
.headername {
  position: relative;
  top: -20px;
}
.tab {
  background-color:#242940;
  color: #f1c232ff;
 width: 100%;
 padding: 2% 0;
 
 text-decoration: none;
}

.Group-header {
 font-family: 'Pacifico', cursive;
}
.tab h2  {
font-family: 'Lobster', cursive;
margin-left: 100px;
}

 main {
   background-color: white;
   max-width: 960px;
   margin: auto;
   padding: 5%;
 }
.logo-footer {
  background-color:#f1c232ff;
}

footer {
  background-color: #242940;
  color:#cccccc;
  padding: 20px;
}
body {
  background-color:#353744ff;
}
